@import 'import.scss';

body {
  font-family: Poppins, sans-serif;
  background-color: $gray-50;
}

nav.navbar {
  max-width: 1440px;
}

.navbar .nav-item .nav-link {
  &.active {
    color: $gray-50;
  }

  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .navbar .nav-item .nav-link {
    position: relative;
  }

  .navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: $gray-50;
    transition: all 0.2s ease-in-out;
    width: 0%;
  }

  .navbar .nav-item .nav-link.active::before,
  .navbar .nav-item .nav-link:hover::before {
    width: 100%;
  }
}

.title,
.modal-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.divider {
  width: 6.25rem;
  height: 0.75rem;
  background-color: #fe5601;
  margin-bottom: 2rem !important;
}

.container {
  max-width: 1440px;
}

#games-list-spinner,
#update-game-form-spinner {
  margin-top: 164px;
}

#games-list-empty-section,
#update-game-form-error-section {
  & p:first-child {
    font-size: 1.125rem;
    font-weight: 600;
  }

  display: none;
  margin-top: 128px;
}

#games-list-section,
#update-game-form-section {
  display: none;
}

.table thead th {
  text-transform: uppercase;
  vertical-align: middle;
}

.table tbody td {
  vertical-align: middle;
}

.table th,
.table td {
  padding: 1.875rem 1.5rem;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}

tbody tr td.gameDescription {
  max-width: 400px;
}

.smallDivider {
  width: 3.125rem;
  height: 0.5rem;
  background-color: $danger;
  margin-bottom: 0 !important;
}

.modal-footer {
  border: 0;
}

.loading-button {
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  position: relative;
}

.button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
  opacity: 0;
  visibility: hidden;
}

textarea {
  resize: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.75em;
}

.btn-lg {
  font-size: 16px;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:hover,
.btn-primary {
  color: $textDark !important;
}

label.error {
  margin: 0;
  margin-top: 8px;
  color: $danger;
}

.form-control.is-valid {
  &:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem rgba(12, 186, 255, 0.25) !important;
  }

  border-color: $primary;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='%230CBAFF' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
}

.hidden-input {
  width: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
